---
const { aboutme } = Astro.props;
---

<section id="about" class="py-20 bg-gray-100 max-w-5xl mx-auto px-8">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold mb-12 text-center">About Me</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-12 items-center">
      <img 
        src={aboutme.image} 
        alt="Artist portrait" 
        class="w-32 h-32 md:w-full md:h-[500px] object-cover rounded-full md:rounded-lg mx-auto"
      />
      <div>
        <p class="md:text-lg mb-6 text-center">
          {aboutme.description}
        </p>
      </div>
    </div>
  </div>
</section>