---
import ArtworkCard from './ArtworkCard.astro';
import type { Artwork } from '../data/artworks';

interface Props {
  artworks: Artwork[];
  columns?: number;
}

const { artworks, columns = 4 } = Astro.props;

const distributedColumns: Artwork[][]  = Array.from({ length: columns }, () => []);
artworks.forEach((artwork, index) => {
  distributedColumns[index % columns].push(artwork);
});

---

<div class={`grid grid-cols-${columns/2} md:grid-cols-${columns} gap-1`}>
  {distributedColumns.map((column, columnIndex) => (
    <div class="flex flex-col gap-1">
      {column.map(artwork => (
        <ArtworkCard {...artwork} />
      ))}
    </div>
  ))}
</div>
