---
const navItems = [
  { label: "HOME", href: "/" },
  { label: "GALLERY", href: "/#gallery" },
  { label: "ABOUT", href: "/#about" },
  { label: "CONTACT", href: "/#contact" }
];
---

  <nav 
  id="navbar" 
  class="fixed top-0 w-full py-2 border-b border-gray-100 text-sm bg-white shadow transition-transform duration-300 -translate-y-full z-20">

  <ul class="flex justify-center gap-6">
    {navItems.map(item => (
      <li>
        <a 
          href={item.href} 
          class="text-gray-400 hover:text-black transition"
        >
          {item.label}
        </a>
      </li>
    ))}
  </ul>
</nav>


<script>
  let lastScrollY = 0;

  const navbar = document.getElementById('navbar');

  window.addEventListener('scroll', () => {
    if (!navbar) return;
    
    const currentScrollY = window.scrollY;

    if (currentScrollY < lastScrollY) {
      navbar.style.transform = "translateY(0)";
    } else {
      navbar.style.transform = "translateY(-100%)";
    }

    lastScrollY = currentScrollY;
  });
</script>